PORT=3333
DB_HOST=localhost
DB_PORT=3306
DB_USER=patrick
DB_PASSWORD=ctoswd
DB_NAME=projsaude
JWT_SECRET=troque_esta_chave_em_producao
VITE_API_BASE_URL=http://localhost:3333/api
GOOGLE_CLIENT_ID=seu_google_client_id
APPLE_CLIENT_ID=seu_apple_service_id
VITE_GOOGLE_CLIENT_ID=seu_google_client_id
VITE_APPLE_CLIENT_ID=seu_apple_service_id
